/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes drifting {
  from {
    inset-inline-start: -19px;
  }
  to {
    inset-inline-start: -24px;
  }
}


@keyframes button-hover {
  0% {
    transform: translateX(-100%);
  }

  100% {
    
    transform: translateX(0);
  }
}

/* ------------Анимация сердца---------------------------- */
.like-icon .contour {
  fill: var(--like-contour-color, #000000);
  transition: fill 0.1s linear;
}

.like-icon .core {
  fill: var(--main-background-color);
  transition: fill 0.3s linear 0.03s;
}

.like-icon .main-body {
  fill: var(--main-background-color);
  transition: fill 0.3s linear;
}

/* -------------Hover------------------------------------- */

.like-icon:hover .core {
  fill: var(--like-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--like-color);
  transition: fill 0.3s linear 0.05s;
}

/* ------------Active-------------------------------------- */

.like-icon:active .core {
  fill: var(--fill-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--fill-color);
  transition: fill 0.3s linear 0.05s;
}

/* ---Заполнение сердца при нажатие и закращивание контура-- */

.like-icon.is-liked .core {
  fill: var(--fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--fill-color);
  transition: fill 0.3s linear 0.06s;
}

/* --------------Анимация размера сердца-------------------- */

.like-icon.is-liked .heart {
  animation: heart 0.3s ease-out 0.1s 1 alternate;
  transform-origin: center;
}

@keyframes heart {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.15);
  }
}

/* -------------------Анимация искры-------------------------- */

.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s 1 alternate none;
}

@keyframes sparks {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
