/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

/* ------------------------Header---------------------------------------------- */
.page {
  color: var(--second-background-color);
  font-family: var(--main-font-family, sans-serif);
  font-size: 18px;
  background-color: var(--main-background-color);
  background-image: var(--bg);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100vw;
  font-variation-settings: "wght" var(--card-font-weight, 400);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: clamp(7.5rem, 7.15rem + 1.5vw, 8.5rem) 0px 25px;
  font-family: var(--accent-font);
  text-transform: uppercase;
}

.header__container {
  margin-inline: auto;
  margin-block: 100px;
  border: solid 2px var(--second-background-color);
  background-color: var(--main-background-color);
  inline-size: var(--card-container-size);
}

.header__emblem {
  margin-block-end: 20px;
  font-size: var(--emblem-font-size);
  text-decoration: none;
}

.header__title {
  margin-block-end: 25px;
  font-size: var(--title-font-size);
}

.header__theme-menu {
  padding-inline-start: 20px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 14px;
}

.theme-menu__item {
  font-size: 14px;
}

.theme-menu__button {
  position: relative;
  border: none;
  padding: 0;
  font-size: inherit;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: 0;
  top: 0;
  animation: drifting 0.5s infinite ease-in-out alternate;
  inset-inline-start: -19px;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:disabled:focus {
  outline: none;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  background-color: var(--second-background-color);
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 2px;
}

/* -------------------------------------------------------------------------------- */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding-block-end: 103px;
}

.content__decor__card {
  position: relative;
  max-width: 696px;
  border: 2px solid var(--second-background-color);
  overflow: hidden;
  background-color: var(--main-background-color);
}

.content__title {
  padding: 5px 10px;
  color: var(--font-text-color);
  font-family: var(--main-font-family);
  font-size: 18px;
  font-variation-settings: "wght" var(--card-subtitle-font-weight, 700);
}

.content__card__block {
  position: relative;
  display: flex;
  border-block: 2px solid var(--second-background-color);
}

.card__image-label {
  position: absolute;
  z-index: 3;
  opacity: 0.5;
  color: var(--second-background-color);
  font-family: var(--accent-font);
  font-weight: var(--card-font-weight);
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  text-shadow: -1px 0 var(--text-color), 0 1px var(--text-color),
    1px 0 var(--text-color), 0 -1px var(--text-color);
  mix-blend-mode: hard-light;
  top: 20px;
  right: 10px;
}

@supports (
  (text-stroke: 1px var(--text-color)) or
    (-webkit-text-stroke: 1px var(--text-color))
) {
  .card__image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-color);
    text-stroke: 1px var(--text-color);
  }
}

.card__image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.card__image_filter_sepia {
  filter: sepia(80%);
}

.card__image_filter_brightness {
  filter: brightness(200%);
}

.card__image_filter_saturate {
  filter: saturate(80%) hue-rotate(30deg);
}

.card__image_filter_invert {
  filter: invert(80%);
}

.card__image_filter_grayscale {
  filter: grayscale(82%) sepia(50%);
}

.card__image_filter_blur {
  filter: blur(10px);
}

.card__image_filter_contrast {
  filter: hue-rotate(90deg) contrast(80%) sepia(50%);
}

.content__text__card {
  display: flex;
  flex-direction: column;
  row-gap: 27px;
  padding: 25px;
  font-size: 18px;
  line-height: 21px;
  font-variation-settings: "wght" var(--card-font-weight, 400);
}

/* ---------------button/icon---------------------------- */

.button__card {
  display: flex;
  justify-content: end;
  column-gap: 5px;
  padding: 0 25px 25px;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  border: 2px solid transparent;
  padding: 0;
  background-color: inherit;
  transition: border 0.3s ease;
  cursor: pointer;
  block-size: 38px;
}

.button {
  position: relative;
  border: 2px solid var(--second-background-color);
  overflow: hidden;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
  text-transform: inherit;
  background-color: inherit;
  cursor: pointer;
  transition: box-shadow 0.3s linear;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--second-background-color);
  cursor: pointer;
}

.button__text {
  position: relative;
  z-index: 2;
  align-self: center;
  color: var(--text-color);
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  line-height: 90%; /* 12.6px */
  mix-blend-mode: difference;
}

.content__card__like {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 7px;
}

.card__like-button {
  min-width: 130px;
  padding: 9px 17px;
  color: var(--text-color);
  font-family: var(--accent-font);
  font-size: 14px;
  background-color: transparent;
  transition: box-shadow 0.3s ease;
  font-weight: var(--card-font-weight, 400);
}

.button:focus {
  box-shadow: 2px 2px 0px var(--like-color);
}

.button:focus-visible {
  border: 2px solid var(--second-background-color);
}

.button::after {
  content: "";
  position: absolute;
  background-color: var(--second-background-color);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
  inline-size: 100%;
  block-size: 100%;
  inset-inline-start: 0;
  inset-block-start: 0;
}

.button:hover:after {
  transform: translateX(0);
}

.button:hover .img-floppy {
  z-index: 3;
}

.like-icon {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  fill: var(--second-background-color);
  cursor: pointer;
  inline-size: 39px;
  block-size: 36px;
}

/* -----------footer----------------------------------- */

.save-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 310px;
  padding: 15px;
  background-color: transparent;
  background-color: var(--main-background-color);
  text-wrap: nowrap;
}

/* ------------Диалог-окно----------------------------------- */

.img-floppy {
  position: relative;
  z-index: 2;
  color: var(--text-color);
  inline-size: 28px;
  block-size: 28px;
  mix-blend-mode: difference;
}

.dialog {
  padding: 30px;
  color: var(--font-text-color);
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  background-color: var(--main-background-color);
  transition: opacity 0.3s ease-in-out;
  inline-size: clamp(21.3rem, 1.5vw + 21rem, 22.3rem);
}

.dialog[open] {
  display: grid;
}

.dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.dialog-img {
  inline-size: 39px;
  block-size: 39px;
  margin-right: 20px;
}

.dialog__form {
  grid-column: 1 / 3;
  grid-row: 2;
}

.dialog__button {
  width: 100%;
  padding: 9px 0;
  color: var(--second-background-color);
  text-transform: uppercase;
  background-color: var(--main-background-color);
  margin-top: 30px;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 75%);
}

/* ------------------------------------------------------- */

@media (min-width: 1440px) {
  .img-floppy {
    display: flex;
    width: 21px;
    height: 21px;
    margin: 0px;
  }

  .save-button {
    width: 340px;
  }
    
  .card__image-label {
    top: 25px;
    right: 25px;
  }
}
